<h1>FunkoMania Marvel-Dc</h1>

<div class="container">
    {{#each products}}
    <div class="card-funko">
        <h2>{{this.title}}</h2>
        {{#if this.image}}
        <img src="/img/{{this.image}}" alt="{{this.title}}">
        {{/if}}
        <p>Descripción: {{this.description}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Precio: ${{this.price}}</p>
        <form id="addToCartForm_{{this._id}}" onsubmit="addToCart(event, '{{this._id}}')">
            <button type="submit" class="btn waves-effect waves-light">Agregar al carrito</button>
        </form>

    </div>
    {{/each}}
</div>

<script src="./js/addCart.js"></script>